body{
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: Aliceblue; 
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  display: block;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
}


.radio-group input[type="radio"] {
  margin-right: 10px;
  appearance: none;
  width:20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  transition: background-color 0.2s;

}

.radio-group input[type="radio"]:checked {
  border-color: green;
  background-color: green;
  box-shadow: inset 0 0 0 4px white;
}

input[type="radio"]:checked + label {
  color: green;
}

input, select, textarea {
  width: 100%;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-sizing: border-box;
}

input:first-of-type {
  border-radius: 8px
}

input:focus, textarea:focus {
  border-color: dodgerblue;
  outline: none;
}

input:valid, select:valid, textarea:valid {
  border-color: green;
  outline: none;
}

input:invalid, select:invalid,
textarea:invalid {
  border-color: red;
  outline: none;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;  
}

label.reason {
  margin-top: 20px
}

button {
  width: 100%;
  background-color: green;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}