body{
  font-family: arial, san-serif;
}

.blog-post-card {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  text-align: center
}

.post-img {
  width: 100%;
  border-bottom: 5px solid black;
}

.post-content {
  padding: 10px;
}

.post-title {
  margin: 10px;
  color: brown;
}

.post-excerpt {
  margin: 10px;
  color: gray;
}

.read-more {
  display: inline-block;
  background-color: brown;
  margin: 5px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.read-more:hover {
  background-color: rgb(228, 97, 97);
}