body {
  background: rosybrown;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.business-card {
  width: 300px;
  background-color: lavenderblush;
  border: 3px solid black;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.profile-image {
  max-width: 100%;
  border: 2px solid lightgray;
}

.full-name {
  color: darkslategray;
  font-weight: heavy;
  font-size: 25px;
}

.designation {
  font-size: 24px;
  color: gray;
}

.company {
  font-size: 18px;
  color: gray;
}

.portfolio-link {
  text-decoration: none;
}
.social-media {
  display: inline;
}

a {
  text-decoration: none;
}