#email {
  padding: 50px;
  margin: 50px auto 0;
  width: 500px;
  border: 2px solid black;
  box-shadow: 5px 3px 3px gray;
  background-color: #f9f9f9;
  box-sizing: border-box; 
}

#confidential {
  display: inline-block;
  padding: 10px;
  margin-left: 100px;
  transform: rotate(-20deg);
  color: red;
  border: 5px solid red;
  font-weight: bold;
  font-size: 1.5rem;
}

#top-secret {
  display: inline-block;
  padding: 10px;
  margin-left: 200px;
  border: 5px solid red;
  transform: rotate(20deg);
  color: red;
  font-weight: bold;
  font-size: 1.1rem
}

.blurred {
  filter: blur(3px);
}