body {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  background: linear-gradient(45deg, #83a4d4, #b6fbff);
  justify-content: center;
  align-items: center;
  font-family: arial, san-serif;
}

.form-container {
  width: 300px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
   
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #0c0d1299;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ddd;
}

textarea {
  display: block;
  padding: 10px;
  margin: 10px 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #0c0d1299;
  box-sizing: border-box;
  width: 100%;
}

button {
  background-color: #4CAF50;
  font-size: 1em;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}